@import url("common.css");
a {
    color: inherit;
    text-decoration: none;
}
.board {
    background: gray;
    width: 70%;
    margin: 20px auto;
    font-size: 3em;
    color: #fff;
    padding: 15px;
}
.board li {
    /*border: 4px solid yellow;*/
    margin-bottom: 15px;
}
.board li:last-child {
    margin-bottom: 0;
}
.board li a {
    display: block;
    /*background: red;*/
    font-weight: 700;
    padding: 15px;
}
.board li a:hover {
    color: yellow;
    background: skyblue;
}